<html lang="es"><head>
  <meta charset="iso-8859-1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#1f2732">

  <title>Curriculum Vitae (CV) Miriam Mota</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Alexandria:wght@200&display=swap" rel="stylesheet">
</head>
<body>

  <div class="container">
    <div class="title">
      <img src="images/Ari.png" width="130px" height="130px">
      <div class="resume">
        <h1>Miriam de los Angeles Mota David</h1>
        <p>Respostera Independiente <br> Estoy en la busqueda de un entorno que desafie mis habilidades culinarias donde pueda servir a este negocio y establecer un ambiente laboral agradable para mi en el mundo de la reposteria</p> 
      </div>
    </div>

    <main>

      <div class="div-left" style="
    display: flex;
    /* height: 670px; */
    /* width: 45%; */
    background-color: white;
    flex-wrap: wrap;
    justify-content: space-evenly;
">

    <section class="skill">
      <h2 style="
    text-align: center;
">Habilidades</h2><br>
      <ul>
        <li><i class="point">• </i>Resolucion de problemas</li>
        <li><i class="point">• </i>Proactividad</li>
        <li><i class="point">• </i>Creatividad</li>
        <li><i class="point">• </i>Versatilidad</li>
      </ul>
    </section>
        
    <section class="lang">
        <h2 style="
    text-align: center;
">Idiomas</h2><br>
        <ul>
            <li><i class="point">• </i>Español</li>
            <li><i class="point">• </i>Inglés</li>
            <li><i class="point">• </i>Frances</li>
            <li><i class="point">• </i>Italiano</li>
        </ul>
    </section>

    <section class="contact" style="
    width: 90%;
">
      <h2 style="
    text-align: center;
">Contacto</h2> <br>
      <ul>
  
        <li><i class="point">• </i><b>Correo: </b><i>miriamdelosangelesd@gmail.com</i></li>
        <li><i class="point">• </i><b>Instagram: </b><i>@Mariposas1000</i></li>
      </ul>
    </section>
    
    </div>
        
    
    <div class="div-right" style="
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-evenly;
">
    <section class="exp">
      <h2 style="
    text-align: center;
">Experiencia Laboral</h2><br>
      <small><i>Delicateses Kavana (2019 - 2020)</i></small><br>
      <b>Asistente de Reposteria en jefe y repostera</b><br>
      <small><i>Creations Miss Meow (2021 -2022)</i></small><br>
      <b>Repostera en jefe</b>
    </section>

    <section class="educt">
      <h2 style="
    text-align: center;
">Educación</h2><br>
      <ul>
      <li><i class="point">• </i>Unidad Educativa Nacional Doctor 'Eliseo Acosta' (Bachiller en ciencias 2016 - 2021).</li>
      <li><i class="point">• </i>Universidad Nacional Experimental de los Llanos Centrales 'Romulo Gallegos' (Actualmente Estudiante de Ingenieria en Informatica 2021 - )</li>
    </ul>
    </section>
    </div>
  </main>
  </div>

</body>
</html>