<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Curriculum Vitae (CV) Miriam de los Angeles Mota David C.i 30.325.797</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <main>
      <section class="foto">
        <div>
          <img src="images/Miriam.jpg" alt="">
          <h1>Miriam Mota</h1>
        </div>
        <p class="parrafo">Soy Miriam Mota,
          una repostera indetendiente, estoy en la busqueda de un entorno que desafie 
          mis habilidades culinarias donde pueda servir a este  negocio y establecer un a , biente Laboral
          agradable para mi en el mundo de la reposteria.</p>
      </section>
      

      <div class="container">

      <section class="resumen">
            <ul>
              <h3>Informacion Personal</h5>
              <li> <b>Nombres:</b> Miriam De Los Angeles </li>
              <li> <b>Apellidos:</b> Mota David </li>
              <li> <b>C.I:</b> 30.325.797 </li>
              <li> <b>Especialidad:</b> Tortas Frias </li>
              <li> <b>Fecha de Nacimiento:</b> 15/03/2004</li>
              <li> <b>Lugar de Nacimiento:</b> Valencia EDO.Carabobo</li>
              <li> <b>Direccion:</b> Estado Aragua , Municipio San Sebastian de los Reyes , Calle El Mirador , Sector El Limon , Casa Numero 16. </li>
              <li> <b>Estado civil:</b> Soltero.</li>
              <li> <b>Nacionalidad:</b> Venezolano. </li>
            </ul>
      </section>    
      
        <section class="educacion">
          <ul>
            <h3>Estudios Aplicados</h3>
            <h4>Nivel: Primaria.</h4>
            <li>Fecha: 2010 - 2016 </li>
            <li>Instituto: E.B.N "Nuestra Señora de la Caridad."  </li>
            <br>
            <h4>Nivel:  Secundaria  </h4>
            <li>Fecha: 2016 - 2021  </li>        
            <li>U.E.N "Dr. Eliseo Acosta". </li>   
            <li>  Graduada como Bachiller en Ciencias Naturales  . </li>                                                 
            <br>
            <h4>Nivel: Universitario</h4>
            <li>Fecha:  2021 - En Curso  </li>
            <li>Universidad Nacional Experimental Romulo Gallegos Cursando como Ingenierio en Informatica  .</li> 
          </ul>
        </section>
        

      <section class="cursos">
        <ul>
          <h3>Cursos completados:</h3>
          <li>Decoracion con boquillas: Nivel 1, 2, 3 (2019 - 2020).</li>
          <li>Marketing Digitla: Publicidad para Negocio en Emprendimiento (2020 - 2021).</li>
        </ul>
      </section>

      
      <section class="experiencia">
        <ul>
          <h3>Experiencia Laboral</h3>
          <li>Panaderia.</li>
          <li>Pasteleria.</li>
          <li>Glaceados y Coverturas.</li>
        </ul>
      </section>
      <div class="agruparDestresasHabilidades">
        <section class="destrezas">
          <ul>
            <h3>Destrezas.</h3>
            <li>Responsable.</li>
            <li>Proactivo.</li>
            <li>Bilingue, Español e Ingles muy fluido.</li>
            <li>Trabajo bajo presion, y buen trabajo en equipo.</li>
          </ul>
        </section>

        
        <section class="habilidades">
          <ul> 
            <h3>Hablidades.</h3>
            <li>Destreza en la cocina.</li>
            <li>Dominio de las Algoritmos y Programacion.</li>
            <li>Habilidad con la pintura. </li>
            <li>El Maquillaje.</li>
          </ul> 
        </section>
      </div>
      
      <section class="contacto">
        <ul>
          <h3>Contacto y redes sociales</h3>  
          <li>Whastapp: 0414-4205495</li>
          <li>Email: Miriamdelosangelesd@gmail.com</li>
          <div>
            <li><a href="#"><img src="/images/facebook.png"></a></li>
            <li><a href="#"><img src="/images/instagram.png"></a></li>
            <li><a href="#"><img src="/images/twitter.png"></a></li>
        </div>
        </ul>
      </section>
    </div>
  </main>
  <footer>
    <h3>Contactame</h3>
    <form action="/" method="post">
    <div class="container-inputs">
        <label for="usuario">Nombre de Usuario</label>
        <input type="text" placeholder="Nombre" name="usuario">
        
        <label for="correo">Correo</label>
        <input type="email" name="correo" placeholder="correo@dominio.subdominio">
    </div>
    <div class="container-msg">
        <label for="mensaje">Mensaje</label>
        <textarea name="mensaje" cols="30" rows="10">Escríbeme!</textarea>
    </div>
        <div class="boton"><input type="submit" value="Enviar"></div>
      </form>
  </footer>
  </body>
</html>
