<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/stylelogin.css">
    <title>LOGIN</title>
</head>
<body>
    <div class="div">
        <h1>LOGIN</h1>
        <h1><%= mej %></h1>
        <form action="/login" method="post">
            <input type="text" name="correo_admin" id="" class="input1">
            <input type="text" name="clave_admin"  class="input2">
            <input type="submit" value="Iniciar" class="input3">
        </form>
        <div class="img">
             <img src="/images/github.png" alt="" class="gato">
        </div>
       
        <div class="git">
            <a href="/auth"> Login with Github </a>
          </div>

    </div>
   
</body>
</html>   